<p>
  <mat-checkbox  [(ngModel)]="tarefa.finalizada" class="p-r-10"  (change)="changecheck()"></mat-checkbox><span *ngIf="!edit"  [ngClass]="{'done': tarefa.finalizada}"  >{{tarefa.texto}}</span>
  
  <mat-form-field *ngIf="edit"><input matInput placeholder="Gerar nova tarefa" [(ngModel)]="tarefa.texto" name="inserir"  (keydown)="onKeydown($event)"/> </mat-form-field>
  <button mat-button (click)="editar()" *ngIf="!edit && !tarefa.finalizada" ><i class="material-icons">
    edit
    </i></button><button mat-button (click)="salvar()" *ngIf="edit"><i class="material-icons">
      save
      </i></button><button mat-button (click)="excluir()"><i class="material-icons">
    delete
    </i></button>
</p>

