<div id="container">
  <h1>To-Do List </h1>
  <div class="listitens">
 <mat-form-field>
  <input matInput placeholder="Gerar nova tarefa" [(ngModel)]="inserir" name="inserir" />
</mat-form-field>
<button mat-button (click)="Adicionar()">Adicionar</button>

<div class='container' dragula="LISTA_ITENS" [(dragulaModel)]='tarefas'>
  <div *ngFor='let tarefa of tarefas'>
      <app-task-item [tarefa]="tarefa" (deleteTarefa)="deleteTarefa($event)" (salvaTarefa)="salvaTarefa($event)">
      </app-task-item> 
  </div>
</div>
</div>
</div>

