
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .listitens{
      padding: 5px;
      min-width: 400px;
  }
  h1 {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
  }
  
  .fa-plus {
    float: right;
  }
  
  li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
  }
  
  li:nth-child(2n) {
    background: #f7f7f7;
  }
  
  li span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
  }
  
  li:hover span {
    width: 40px;
    opacity: 1;
  }
  

  
  #container {
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
  
  .completed {
    color: gray;
    text-decoration: line-through;
  }