/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  body {
    font-family: Roboto;
    background: -webkit-linear-gradient(
      90deg,
      #026829 10%,
      #eff75c 90%
    ); /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(
      90deg,
      #026829 10%,
      #eff75c 90%
    ); /* FF3.6+ */
    background: -ms-linear-gradient(90deg, #026829 10%, #eff75c 90%); /* IE10 */
    background: -o-linear-gradient(
      90deg,
      #026829 10%,
      #eff75c 90%
    ); /* Opera 11.10+ */
    background: linear-gradient(90deg, #026829 10%, #eff75c 90%); /* W3C */
  }